/* 1439px-769px */

@media (max-width: 1300px) {
    .home_section2 {
      padding-right: 0;
    }
    .cards {
      overflow-x: scroll;
    }
    figure {
      flex: 1 0 282px;
    }
  }

@media (max-width: 1025px) {
    /* header */
    .header_ul {
        display: none;
    }

    .fa-bars,
.fa-xmark {
    color:  #05BCCA;
  display: block;
}
}

@media (max-width: 1025px) {
    /* header */
    header {
      padding-inline: 32px;
    }
    .logo1 {
      display: none;
    }
    .logo2 {
      display: block;
    }
    /* home_section2 */
    .home_section2 {
      padding-left: 32px;
    }
  
    /* footer */
    footer {
      padding-inline: 32px;
    }
  
    /* catalog_section */
  
    .catalog_section {
      padding: 32px;
    }
  
    .catalog_title {
      padding-left: 32px;
    }
  
    .catalog_section_article {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 339px 339px;
      grid-template-areas:
        "CARD1 CARD2 "
        "CARD3 CARD4 "
        "CARD5 CARD6 ";
    }
  
    .card1 {
      /* background-color: aqua; */
      grid-area: CARD1;
    }
    .card2 {
      /* background-color: rgb(83, 106, 106); */
      grid-area: CARD2;
    }
    .card3 {
      /* background-color: #830404; */
      grid-area: CARD3;
    }
    .card4 {
      /* background-color: blue; */
      grid-area: CARD4;
    }
    .card5 {
      /* background-color: cadetblue; */
      grid-area: CARD5;
    }
    .card6 {
      /* background-color: chartreuse; */
      grid-area: CARD6;
    }
    .card7 {
      /* background-color: rgb(28, 20, 22); */
      grid-area: CARD7;
      display: none;
    }
    .card8 {
      /* background-color: deeppink; */
      grid-area: CARD8;
      display: none;
    }
    .card9 {
      /* background-color: rgb(197, 14, 93); */
      grid-area: CARD9;
      display: none;
    }
  
    /* contact_section */
  
    .contact_section1 {
      padding-left: 32px;
    }
  }
  
  @media (max-width: 841px) {
    /* contact_section*/
    .contact_section2 {
      padding-inline: 24px;
    }
  
    .contact_article {
      width: 100%;
      flex-direction: column;
      row-gap: 40px;
    }
  
    .contact_div2 {
      flex-direction: row;
    }
  
    .contact_text {
      display: none;
    }
  
    iframe {
      width: 100%;
    }

    .contact_div1 {
      padding-top: 70px;
      padding-left: 300px;
      display: flex;
      flex-direction: column;
      
  }
}


/* 768px-481px */



@media (max-width: 745px) {
    /* contact_section */
  }
  
  @media (max-width: 745px) {
    .container {
      padding-top: 116px;
    }
    /* header */
    header {
      padding-inline: 24px;
    }
    .logo2,
    .fa-arrow-left,
    .fa-bars {
      display: block;
    }
    .logo1,
    .header_right_signIn {
      display: none;
    }
    .header_right {
      column-gap: 8px;
    }
    .header_nav {
      position: fixed;
      top: 116px;
      left: -100%;
      background-color: #b53b1b;
      width: 240px;
      height: 260px;
      padding: 25px 0 0 20px;
      transition: 0.5s linear;
    }
    .header_ul {
      flex-direction: column;
      row-gap: 20px;
    }
    .show {
      left: 0;
    }
    /* home_section2 */
    .home_section2 {
      padding-left: 24px;
    }
    /* footer */
    footer {
      padding-inline: 0px;
      flex-direction: column;
      align-items: center;
      row-gap: 32px;
      text-align: center;
    }
    .footer_right {
      flex-direction: row;
    }
    .right_text {
      display: none;
    }
    /* catalog section */
  
    .catalog_section {
      padding: 24px;
    }
    .catalog_title {
      padding-left: 24px;
    }
  
   
    .catalog_section_article {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 339px 339px;
      grid-template-areas:
        "CARD1 CARD2 "
        "CARD3 CARD4 "
        "CARD5 CARD6 ";
    }
  
    .card1 {
      /* background-color: aqua; */
      grid-area: CARD1;
    }
    .card2 {
      /* background-color: rgb(83, 106, 106); */
      grid-area: CARD2;
    }
    .card3 {
      /* background-color: #830404; */
      grid-area: CARD3;
    }
    .card4 {
      /* background-color: blue; */
      grid-area: CARD4;
    }
    .card5 {
      /* background-color: cadetblue; */
      grid-area: CARD5;
    }
    .card6 {
      /* background-color: chartreuse; */
      grid-area: CARD6;
    }
    .card7 {
      /* background-color: rgb(28, 20, 22); */
      grid-area: CARD7;
      display: none;
    }
    .card8 {
      /* background-color: deeppink; */
      grid-area: CARD8;
      display: none;
    }
    .card9 {
      /* background-color: rgb(197, 14, 93); */
      grid-area: CARD9;
      display: none;
    }
  }
  
  @media (max-width: 730px) {
    /* catalog section */
  
    .catalog_title {
      font-size: 16px;
      line-height: 24px;
    }
  
    .cat_sort_button {
      width: 61px;
      height: 40px;
      justify-content: center;
    }
  
    .cat_sort_button_span {
      display: none;
    }
  }
  
  @media (max-width: 565px) {
    .contact_section1 {
      padding-inline: 32px;
    }

    .contact_div1 {
      padding-top: 80px;
      padding-left: 200px;
      display: flex;
      flex-direction: column;
      
  
    }

    .contact_article {
      width: 400px;
  height: 80px;
  }
  
  @media (max-width: 580px) {
    .home_section_title1 {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 32px;
    }
  }
}

/*  480px-320px*/

@media (max-width: 481px) {
    /* header */
    header {
      padding-inline: 20px;
    }
    /* home_section1 */
    .home_section1 {
      height: 304px;
    }
    .home_section_title1 {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 32px;
    }
    /* home_section2 */
  
    .home_section2 {
      padding: 64px 0 20px 20px;
    }
  
    .home_section_title2 {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 32px;
    }
    /* footer */
    footer {
      padding-block: 30px;
    }
    /* catalog section */
   
  
    .cat_sort_button {
      height: 40px;
      width: 61px;
    }
    /* contact_section1 */
  
    .contact_section1 {
      height: 560px;
      padding-inline: 24px;
    }
    .Form_article {
      padding: 24px 20px;
    }
  
    .form_title {
      font-size: 32px;
      line-height: 39px;
    }
    .form_div1 {
      column-gap: 32px;
    }
  
    /* contact_section2 */
  
    .contact_section2 {
      padding: 64px 24px;
    }
    .contact_section_title2 {
      font-size: 32px;
      line-height: 40px;
    }
  
    .main_div {
      column-gap: 42px;
    }
  
    /* catalog section */
  
    .catalog_title {
      font-size: 16px;
    }
  
    .catalog_title {
      padding-left: 8px;
    }
  
    .cat_sort_button {
      width: 61px;
      height: 40px;
    }
    .cat_sort_button_span {
      display: none;
    }
  
    .catalog_section_article {
      margin-bottom: 48px;
  
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 339px;
      grid-template-areas:
        "CARD1 "
        "CARD2 "
        "CARD3 "
        "CARD4";
    }
  
    .card1 {
      /* background-color: aqua; */
      grid-area: CARD1;
    }
    .card2 {
      /* background-color: rgb(83, 106, 106); */
      grid-area: CARD2;
    }
    .card3 {
      /* background-color: #830404; */
      grid-area: CARD3;
    }
    .card4 {
      /* background-color: blue; */
      grid-area: CARD4;
    }
    .card5 {
      /* background-color: cadetblue; */
      grid-area: CARD5;
      display: none;
    }
    .card6 {
      /* background-color: chartreuse; */
      grid-area: CARD6;
      display: none;
    }
    .card7 {
      /* background-color: rgb(28, 20, 22); */
      grid-area: CARD7;
      display: none;
    }
    .card8 {
      /* background-color: deeppink; */
      grid-area: CARD8;
      display: none;
    }
    .card9 {
      /* background-color: rgb(197, 14, 93); */
      grid-area: CARD9;
      display: none;
    }
    .pages1 {
      width: 40px;
      height: 40px;
    }
  }
  
  @media (max-width: 420px) {
    .home_section_title1 {
      font-size: 24px;
      line-height: 32px;
    }
  }
  
  @media (max-width: 321px) {
    /* header */
    header {
      padding-inline: 8px;
    }
  
    /* home_section */
    .home_section2 {
      padding: 48px 0 8px 8px;
    }
    .home_section_title2 {
      font-size: 24px;
      line-height: 32px;
    }
    /* contact_section1 */
  
    .contact_section1 {
      height: 496px;
      padding-inline: 8px;
    }
  
    .Form_article {
      padding: 16px 20px;
    }
  
    .form_title {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 32px;
      text-align: center;
    }
    form {
      row-gap: 24px;
    }
  
    .form_div1 {
      flex-direction: column;
      row-gap: 24px;
    }
  
    .form_button {
      width: 100%;
    }
  
    /* contact_section2 */
  
    .contact_section2 {
      padding: 48px 8px;
    }
  
    .contact_section_title2 {
      font-size: 24px;
      line-height: 32px;
    }
  }



  